body {
    background-color:rgb();

  ;
}
h1 {
    color: blue;
    background-color: red;
}
p {
    color: Black;
    font-size: 30px;
    background-color: lightblue;
}
h2 {
  color: green;
}
div {
    background-color: lightblue;
}
